body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(115deg, rgba(39, 63, 99, 0.8), rgba(90, 44, 44, 0.7) ), url(Valorant-Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0;
}

h1, h2, p {
    text-align: center;
}

.formulir {
    width: 50%;
    text-align: center;
    background-color:rgba(69, 34, 165, 0.8);
    margin-left: auto;
    margin-right: auto;
}